.nav-item {
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    color: rgba(0, 115, 204, 1);
    border-radius: 5px;
}

#top_menu {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item:hover {
    background-color: rgba(94, 182, 248, 0.59);
}

.nav-item:hover a {
    color: #000000;
}

.nav-item.active {
    background-color: rgba(0, 115, 204, 1);
    color: #ffffff !important;
}

.nav-item.active a {
    /*background-color: rgba(0, 115, 204, 1);*/
    color: #ffffff !important;
}

.nav-item a:hover {
    color: #ffffff !important;
}


.logo {
    color: #16A800 !important;
}


h1, font {
    font-family: "Lato", "Odoo Unicode Support Noto", sans-serif;
    color: #0a0c0d;
}

h4 {
    font-family: "Lato", "Odoo Unicode Support Noto", sans-serif;
    color: #4273f4d9;
    padding-bottom: 10px;
}

#wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Home Section */
.mh-sec-home {
    min-height: 900px;
    background-color: rgba(246, 241, 241, 0.2);
}

.mh-sec-home .mh-home-con {

}

.mh-sec-home .mh-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.mh-sec-home .mh-home h1 {
    font-weight: 700;
    font-size: 3em;
    word-break: break-word;
    font-family: "Lato", "Odoo Unicode Support Noto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mh-sec-home .mh-home mark {
    color: #0073cc !important;
    background-color: rgba(0, 0, 0, 0);
    font-size: .7em;
}

.mh-sec-home .mh-home .btn-services {
    background-color: #0078D4;
    height: 45px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.mh-sec-home .mh-home .btn-services:hover {
    background-color: rgba(0, 0, 0, 0.76);
}

.o_we_shape.o_web_home_background {
    background-image: url("/web/static/image/mh-sec-background.svg");
    /*background-size: 100% auto;*/
    /*background-repeat: no-repeat no-repeat;*/
}

.mh-wwd {
    font-family: "Lato", "Odoo Unicode Support Noto", sans-serif;
    padding: 30px 0;
}


/* Services Section */

.mh-ser-card {
    background-color: rgb(232 224 224) !important;
    border: 2px solid rgba(207, 224, 232, 0.39);
    border-radius: 5px;
}

.mh-ser-card:hover {
    background-color: rgb(194 186 186) !important;
    border: 2px solid rgba(207, 224, 232, 0.69);
}

/* Portfolio Section */

/* About Us Section */

.mh-about {
}

.mh-about-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mh-about .about-reason {
    list-style: none;
}

.mh-about .about-reason .mh-reason-list {

}

/* Contact Us Section */

.mh-contact-us {
    display: flex;
    gap: 20px;
}

.mh-contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mh-contact-lst {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* Additional */

.o_apps_list .o_apps_list_col_title {
    font-size: 12px;
}

.o_apps_list .o_app_entry {
    margin: 6px 10px 40px;
    font-size: 13px;
    line-height: 1.2;
}

.o_apps_list .o_app_entry.o_app_pseudo span {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.o_apps_list .o_app_entry.o_app_pseudo span, .o_apps_list .o_app_entry img {
    border-radius: 4px;
    margin: 0 auto 5px;
}

.o_apps_list .o_app_entry {
    max-width: 88px;
}

.o_apps_list .o_app_entry.o_app_pseudo span, .o_apps_list .o_app_entry img {
    width: 78px;
    height: 78px;
}

@media (min-width: 576px) {
    .o_apps_list .o_app_entry {
        max-width: 90px;
    }

    .o_apps_list .o_app_entry.o_app_pseudo span, .o_apps_list .o_app_entry img {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 768px) {
    .o_apps_list .o_app_entry {
        max-width: 90px;
    }

    .o_apps_list .o_app_entry.o_app_pseudo span, .o_apps_list .o_app_entry img {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 992px) {
    .o_apps_list .o_app_entry {
        max-width: 75px;
    }

    .o_apps_list .o_app_entry.o_app_pseudo span, .o_apps_list .o_app_entry img {
        width: 65px;
        height: 65px;
    }
}

@media (min-width: 1200px) {
    .o_apps_list .o_app_entry {
        max-width: 80px;
    }

    .o_apps_list .o_app_entry.o_app_pseudo span, .o_apps_list .o_app_entry img {
        width: 70px;
        height: 70px;
    }
}

.o_apps_list .o_app_entry_pseudo_container_left {
    position: absolute;
    top: 21px;
    left: auto;
    bottom: auto;
    right: 100%;
}

.o_apps_list .o_app_entry_pseudo_container_right {
    position: absolute;
    top: 21px;
    left: 100%;
    bottom: auto;
    right: auto;
}

.deep-1 {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.17);
}

.navbar-default {
    border-radius: 0;
}

.navbar-header {
    display: block;
    width: 100%;
}

.black-bg {
    background: #000;
}

#spinner {
    display: none;
}

body.spin #spinner {
    display: block;
}

span.fa-refresh {
    display: none;
}

section {
    padding-top: 90px !important;
}

