.nav-item {
    width: 130px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.55);
    color: #ffffff;
}

.nav-item a:hover{
    color: #ffffff !important;
}